* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    max-width: 900px;
    margin: 0 auto;
}
#info {
    position: fixed;
    width: 150px;
    top: 50px;
    right: 20px;
}
section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 50px;
    border: 5px dotted salmon;
    min-height: 100vh;
    transition: 300ms ease;
}
section h2 {
    font-size: 30px;
    font-family: sans-serif;
    margin-bottom: 30px;
}
section p {
    transform: translateX(-500%);
    transition: 300ms ease;
    font-size: 16px;
}
section p + p {
    margin-top: 20px;
}
.inverse {
    background-color: #000;
    color: #fff;
}
.inverse p {
    transform: translateX(0);
}
